@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');

#offcanvasRight #p-places{
    border: 2px dotted skyblue;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
#offcanvasRight #p-places li{
    list-style: none;
    width: 169px;
    text-align: left;
}
#offcanvasRight #p-places li i{
    color: pink;
    margin-right: 10px;
}
#offcanvasRight #p-places h1{
    color: skyblue;
    font-family: 'The Nautigal', cursive;
    font-size: 50px;
    font-weight: bold;
    margin-top: 40px;
}
#offcanvasRight #p-places a{
    text-decoration: none;
    color: grey;
    font-family: cursive;
    font-size: 13px;
}
#offcanvasRight #s-states{
    width: 450px;
    margin-top: -30px;
}
#offcanvasRight #s-states ul{
    display: grid;
    grid-template-columns: auto auto;
}
#offcanvasRight{
    width: 550px;
}
#offcanvasRightLabel{
    color: grey;
    text-shadow: 3px 3px 4px black;
    font-size: 40px;
    font-family: cursive;
    font-weight: bold;
}