@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');

*{
    margin: 0;
}
body{
    background: rgb(27, 27, 27);
    margin: 0;
}
#paraimg{
    height: 600px;
    width: 100%;
    padding: 30px 0px;
}
#paraimg video{
    min-height: 100%;
    position: fixed;
    top: -22px;
    z-index: -999;
    object-fit: cover;
    height: 700px;
    width: 100%;
}
#paraimg::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    z-index: 777;
    width: 100%;
    height: 660px;
    background: rgb(3, 96, 251 , 0.3);
}
.video-clip{
    clip-path: circle(0% at 0 50%);
}
.video-clip.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}
.show{
    display: block;
}
.hide{
    display: none;
}
div#button{
    width: 100%;
    height: 25px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div#button .btn{
    width: 12px;
    height: 12px;
    background-color: black;
    z-index: 999;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
}
div#button .btn:hover{
    box-shadow: 2px 2px 4px black;
    margin-top: 4px;
    background-color: cyan;
}
div.text.show{
    width: 100%;
    /* margin-left: 510px; */
    margin-top: 200px;
    /* width: 600px; */
    height: 200px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}
div.text.show h1{
    text-align: center;
    font-size: 80px;
    width: 800px;
    color: white;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 5px;
    transition: 0.5s ease;
}
div.text.show h1:hover{
    text-shadow: 6px 6px 8px black;
    cursor: pointer;
}
div.text.show p{
    font-family: cursive;
    color: cyan;
    font-size: 15px;
    width: 355px;
    margin-top: -10px;
    text-align: center;
}
button.down{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 30px;
    background-color: transparent;
    z-index: 999;
}
button.down a{
    text-decoration: none;
    color: cyan;
    transition: 0.5s ease;
}
button.down i{
    margin-top: -30px;
    font-size: 20px;
    animation: buttonMove .5s infinite alternate;
    transition: 1s ease;
}
@keyframes buttonMove {
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(100%);
    }
}

/* Main */
#main{
    background-color: black;
}
#quote{
    height: 200px;
    width: 100%;
    text-align: center;
}
#quote::before{
    content: "";
    position: absolute;
    width: 50.3%;
    height: 200px;
    background-color: lightcoral;
    opacity: 0.3;
}
#quote p{
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    font-style: italic;
    font-family: 'Aboreto', cursive;
    letter-spacing: 3px;
    color: white;
    text-shadow: 3px 3px 6px cyan;
}
#quote h4{
    text-align: right;
    margin-right: 300px;
    margin-top: 20px;
    color: brown;
    font-family: cursive;
}
#quote i{
    margin-left: -8px;
    margin-top: 30px;
    color: cyan;
    text-shadow: 3px 3px 4px black;
}
#quote h1{
    color: cyan;
    margin-left: -9px;
    text-shadow: 2px 2px 4px black;
}
#context{
    font-family: cursive;
    width: 100%;
    height: 650px;
}
#context::before{
    content: "";
    width: 49.6%;
    height: 600px;
    position: absolute;
    background-color: cyan;
    opacity: 0.5;
}
#context h1{
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 100px;
    font-family: 'Satisfy', cursive;
    text-shadow: 3px 3px 6px cyan;
    font-weight: bold;
}
#context i{
    margin-left: 662px;
    margin-top: -10px;
    position: absolute;
    color: purple;
    cursor: pointer;
    transition: 1s ease;
}
#context i:hover{
    transform: rotate(360deg);
    font-size: 20px;
    box-shadow: 2px 2px 4px black;
}

/* Swiper */
div.swiper {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 200px;
}

div.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent , #0006);
}

div.swiper-slide img {
    display: block;
    width: 100%;
    height: 300px;
}

/* search-bar */
div.search{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form.search-bar{
    width: 100%;
    max-width: 700px;
    background-color: rgba(255 , 255 , 255 , 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}
form.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
    z-index: 1;
    text-align: center;
}
::placeholder{
    color: #cac7ff;
}
form.search-bar button img{
    width: 25px;
    height: 25px;
}
form.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #58629b;
    cursor: pointer;
    z-index: 1;
}

/* category */
div.category{
    width: 90%;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 50px;
    margin-bottom: 50px;
}
div.category button{
    position: relative;
    width: 250px;
    height: 50px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-family: cursive;
    border: none;
    box-shadow: 2px 2px 5px white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.category button::before{
    content: '';
    position: absolute;
    width: 250px;
    height: 50px;
    background: linear-gradient(#00ccff , #d400d4);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
div.category button::after{
    content: '';
    position: absolute;
    inset: 4px;
    background-color: #0e1538;
}
div.category button h1{
    position: relative;
    z-index: 1;
}
div.category button:hover{
    box-shadow: 2px 2px 5px cyan;
    font-size: 15px;
}
div.category ul{
    color: white;
}
div.category ul ul{
    display: none;
    width: 210px;
    background-color: #0e1538;
    opacity: 0.8;
}
div.category ul li:hover > ul{
    display: block;
    position: absolute;
    z-index: 2;
}
div.category ul li.catList{
    list-style: none;
}
div.category ul li a{
    text-decoration: none;
    color: white;
}

/* tabs */
div#explore{
    display: flex;
    flex-direction: row;
}
div.tabs{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px #00ccff;
    border-radius: 50%;
    margin-left: 20px;
    padding: 20px;
    margin-bottom: 60px;
    padding-bottom: 50px;
}

div.tabs .tab{
    display: flex;
    flex-direction: row;
}
div.tabs h1{
    color: white;
    font-size: 50px;
    margin: 20px;
    border-bottom: 1px solid cyan;
}
div.tabs .state{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.tabs img{
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 5px;
}
div.tabs img:hover{
    cursor: pointer;
    width: 120px;
    height: 120px;
}

div.book{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.book p{
    color: cyan;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px white;
}
div.book p#first{
    margin-left: -110px;
}

/* Tabs */
div#tabs{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: 20px;
    height: 1900px;
}
div#tabs .card{
    color: white;
    height: 260px;
    width: 230px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 4px cyan;
    border: 1px solid cyan;
}
div#tabs .card:hover{
    border: 0.5px solid red;
    cursor: pointer;
}
div#tabs .card h5{
    font-family: 'Bree Serif', serif;
    font-size: 13px;
}
div#tabs .card p{
    font-family: cursive;
    font-size: 10px;
}
div#tabs img{
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
}
div#tabs button{
    margin-top: 8px;
    width: 100%;
    color: black;
    font-family: 'Bree Serif', serif;
}
div#tabs button:hover{
    cursor: pointer;
    font-size: 15px;
    color: red;
    border-radius: 10px;
}

/* map */
div#map{
    height: 700px;
    margin-top: 100px;
}
div#map p#india{
    width: 55%;
    float: right;
}
div#map table{
    float: left;
    width: 40%;
    margin-left: 30px;
}
div#map table caption{
    font-family: cursive;
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
    text-shadow: 3px 3px 4px red;
}
div#map table td{
    width: 150px;
    height: 150px;
}
div#map table img{
    width: 100%;
    height: 100%;
}

/* foot */
div#foot{
    margin-top: 60px;
    color: white;
    width: 100%;
    height: 300px;
}
div#foot #info{
    margin-bottom: 30px;
}
div#foot #info h1{
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    text-shadow: 3px 3px 4px cyan;
}
div#foot #info h6{
    font-size: 15px;
}
div#foot #info p{
    font-size: 18px;
}
div#foot #contact{
    display: flex;
    flex-direction: row;
    margin-left: 400px;
    margin-top: 20px;
}
div#foot #contact span{
    margin-left: 70px;
    font-size: 20px;
    font-family: cursive;
}
div#foot #icons{
    margin-left: 20px;
}
div#foot #icons div{
    background-color: black;
    box-shadow: 1px 1px 2px cyan;
}
div#foot #lastImg{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
div#foot #lastImg img{
    height: 30px;
    width: 100%;
}

@media (max-width: 1206px) {
    #context i{
        display: none;
    }
    div.category{
        margin-left: 0px;
    }
    div#foot #contact{
        margin-left: 300px;
    }
    div#foot #icons{
        margin-left: 0px;
    }
}
@media (max-width: 1166px) {
    div.category{
        grid-template-columns: auto auto auto;
    }
}
@media (max-width: 1123px) {
    div.book{
        display: none;
    }
    div.tabs{
        width: 90%;
    }
}
@media (max-width: 849px) {
    div.category{
        grid-template-columns: auto auto;
        margin-bottom: 130px;
    }
    div.cat{
        margin: 5px;
    }
}
@media (max-width: 780px) {
    div.tabs .state{
        width: 100px;
    }
    div#foot #contact{
        margin-left: 0px;
    }
    div#instagram{
        margin-left: 200px;
    }
}
@media (max-width: 700px) {
    div#map p#india{
        display: none;
    }
    div.text.show h1{
        font-size: 40px;
        width: 100%;
    }
    div.text.show p{
        font-size: 10px;
    }
    div#map table{
        width: 80%;
    }
}
@media (max-width: 647px) {
    #quote h4{
        display: none;
    }
    div.category{
        grid-template-columns: auto;
        margin-bottom: 200px;
        height: 350px;
    }
    div.tabs{
        display: none;
    }
    div.category ul li#all{
        display: none;
    }
    div.category button{
        width: 100%;
    }
    div.category ul ul{
        width: 75%;
    }
    div#icons{
        margin-bottom: 0px;
    }
}
@media (max-width: 400px) {
    div#foot #contact{
        flex-direction: column;
    }
    div#foot #contact span{
        margin-left: 60px;
    }
    div#foot #contact span h6{
        font-size: 12px;
    }
    form.search-bar input{
        padding: 15px 0px;
        font-size: 12px;
    }
    form.search-bar button{
        width: 45px;
        height: 45px;
    }
    form.search-bar {
        width: 58%;
    }
    div#icons{
        display: none;
    }
}